services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres_bot_db
      POSTGRES_USER: host
      POSTGRES_PASSWORD: 12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U host -d postgres_bot_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres_test:
    image: postgres:15
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U test_user -d test_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  tests:
    build: .
    command: pytest
    depends_on:
      postgres_test:
        condition: service_healthy
    environment:
      DB_NAME: test_db
      DB_USER: test_user
      DB_PASSWORD: test_password
      DB_HOST: postgres_test
      DB_PORT: 5432

      BOT_TOKEN: test_token
      PAYMENT_PROVIDER_TOKEN: test_payment_token
      API_URL: https://test.api
      CERT_SHA: test_cert

  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data: